* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/imgs/background/pankaj-patel-u2Ru4QBXA5Q-unsplash.jpg);
    background-size: ;
    background-position: center;
}
a {
    text-decoration: none;
    color: #bfc1c4;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}
a:hover{
    color: #00D646;
}

/* MENÚ */
header{
    background-color: #6F7A8A;
    font-size: 18px;
    padding-bottom: 10px;
}
#menu {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    
}
#menuMarcos {
    color: #00D646;
}
#menuMarcos:hover {
    color: white;
}
.navBar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}
.navLinks{
    list-style: none;
    display: flex;
    gap: 4vw;
}
.navLinks ul li {
    text-decoration: none;
    font-size: 1em;
}
.li {
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    
}
.liColor{
    color: #bfc1c4;
    padding: 10px;
}

/* PRESENTACION */
#presentacionSec{
    background-color: #6F7A8A;
    color: white;
    padding-top: 50px;
}
.presConFoto{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#foto{
    border-radius: 50%;
    padding: 1em;
}
.fotoDescripcionSec{
    line-height: 25px;
}
#punto{
    color: #00D646;
    font-size: 40px;
}
.descripcion{
    padding-top: 1rem;
}



.presGeneral{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
}
.sobreMi{
    background-color: #333B50;
    padding: 2rem;
    max-width: 65%;
    text-align: center;
    border-radius: 30px;
}
.sobreMi a{
    color: white;
}



/* EXPERIENCIA */
#experienciaSec{
    min-height: 50vh;
    padding: 50px 10px 10px 10px;
    align-items: center;
}
.skillsContenedor{
    background-color: #505560a9;
    border-radius: 20px;
}
.skillsTitulo{
    text-align: center;
    color: #bfc1c4;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4px;
    font-size: 1.7rem;
}
.skills{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 20%;
    padding-left: 20%;
    
}
.logos{
    padding: 20px;
}
.skills div img{
    width: 80px;
    height: 80px;
}
#proyectos {
    background-color: #505560a9;
    text-align: center;
    color: #bfc1c4;
    font-size: 1.7rem;
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}
#tituloProyecto{
    font-size: 1.7rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4px;
}
.cardContenedor{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    background-color: #505560a2;
    width: 300px;
    height: 400px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.2)
}
.card p{
    font-size: 1rem;
    margin-top: 10px;
}
.proyectoImg{
    padding: 20px;
    border-radius: 20px;
    max-width: 300px;
}

/* CONTACTO */

.contacto{
    text-align: center;
    color: #bfc1c4;
}
.contactoTitulo{
    font-size: 1.5rem;
}
.grid-container{
    background-color: #6f7a8a97;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid{
    display: grid;
    grid-template-columns: 100px 200px;
    grid-template-rows: 20px;
    row-gap: 10px;
    margin: 20px;
}
.borderRound{
    border-radius: 10px;
}
#enviar{
    color: #bfc1c4;
    font-weight: bold;
    background-color: #6F7A8A;
    padding: 3px 10px;
    border-radius: 5px;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
}
#enviar:hover{
    color: #00D646;
    cursor: pointer;
}
.redesContainer{
    background-color: #6f7a8a97;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    margin-top: 20px;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
}
.redesContainer div {
    padding: 0px 20px 0px 20px;
}